$primary-color : #152036;
$secondary-color : #1b2a47;
$green-color : #24c79f;
$yellow-color : #D0DC45;
$red-color : #CC3F3F;
html,body{
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: $primary-color !important;
}
section,.container, .row,.col-lg-2{
    max-width: 100vw !important;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.sidebar{
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    &-user{
        width: 100%;
        padding: 20px !important;
        &-symbol{
            padding: 20px;
            text-align: center;
            i{
                font-size: 5rem !important;
            }
        }
        &-text{
            color: white;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    &-selections{
        margin-top: 20px;
        .selection{
            display: flex;
            padding: 20px;
            &-symbol{
                display: flex;
                place-items: center;
                i{
                    font-size: 2rem;
                }
            }
            &-text{
                padding-left: 15px;
                font-size: 1.3rem;
                color: white;
            }
            &:hover{
                background-color: $primary-color;
                cursor: pointer;
            }&:first-child{
                background-color: $primary-color;
            }
        }
    }

}
.col-lg-10{
    padding: 30px !important;
}
.header{
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    padding: 20px;
    &-symbol{
        border: white solid 2px;
        border-radius: 7px;
        i{
            font-size: 2rem;
            padding: 10px;
        }
    }
    &-text{
        font-size: 2rem;
        color: white;
        padding-left: 16px;
    }
}
main{
    padding : 20px !important;
    margin-top: 40px;
    background-color: $secondary-color;

    .searcher{
        form{
            width: 100%;
        }
        &-inputDate{
            width: 20%;
            input{
                width: 100%;
                border-radius: 22px;
                padding: 7px 14px;
                // width: 117%;
                background-color: $primary-color;
                color: white !important;
                border: 2px solid $green-color;
                &:focus{
                    outline: none;
                    border-color: $green-color;
                    box-shadow: 0 0 10px $green-color;
                }
            }
        }
        &-inputTel{
            width: 30%;
            position: relative;
            input{
                width: 100%;
                border-radius: 22px;
                padding: 7px 0px 7px 40px;
                // width: 117%;
                background-color: $primary-color;
                color: white !important;
                border: 2px solid $green-color;
                &:focus{
                    outline: none;
                    border-color: $green-color;
                    box-shadow: 0 0 10px $green-color;
                }
            }
            i{
                position: absolute;
                left: 18px;
                color: $green-color;
            }
        }
        &-btn{
            width: 7%;
            background-color:  $green-color;
            border-radius: 5px;
            display: flex;
            place-items: center;
            padding : 0 10px;
            justify-content: center;
        }
    }
    table{
        thead{
            tr{
                th{
                    background-color: $secondary-color !important ;
                    color: white !important;
                    border-top: $green-color 1px solid !important;
                    border-bottom: none !important;
                }
            }
        }
        tbody{
            tr{
                td{
                    background-color: $secondary-color !important;
                    color: white !important;
                    border-top: $green-color 1px solid !important;
                    border-bottom: none !important;
                }
            }
        }
    }
}